// more-style.scss
// les entrées de blog

.post, .page {
	.entry {
    	p, li, blockquote {
        	text-align: justify;
            max-width: 680px;
            font-family: "Gillius ADF", $helveticaNeue;
            line-height: 1.8;
            code {
                font-size: 0.80em;
                font-style: italic;
                font-weight: bold;
            }
        }
        blockquote {
        	em {
            	font-style: normal;
            }
        }
        .highlight {
            pre.highlight {
                code {
                    font-size: 0.80em;
                }
            }
        }
    }
}

.align_center {
	text-align:center;
}
.small_font {
	font-size: 0.75em;
}
